GAME_ICON	ICON	"icon.ico"
BOAT		IMAGE	"boat.png"
WAVE		IMAGE	"wave.png"
HUMAN		IMAGE	"human.png"
WING		IMAGE	"wing.png"
BGM			SOUND	"Turbulence.ogg"
FALL		SOUND	"voice003.wav"
SAVE		SOUND	"voice015.wav"
END			SOUND	"whistle02.wav"
